In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import r2_score
import matplotlib
import matplotlib.pyplot as plt 
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

In [33]:
df=pd.read_csv("vehicles_model_ready_data.csv")

In [34]:
df=df.drop(['Unnamed: 0','paint_encoded'], axis=1)

In [35]:
df.head()

   price manufacturer           model  ...  type_truck  type_van  type_wagon
0   6980     chrysler  town & country  ...           0         1           0
1   4000       nissan          murano  ...           0         0           0
2   3990       nissan        frontier  ...           0         0           0
3   2250        acura              tl  ...           0         0           0
4  25900       toyota          tundra  ...           1         0           0

[5 rows x 33 columns]

In [36]:
#convert columns to categorical
#col_cat=['manufacturer','model','fuel_diesel','fuel_electric','fuel_gas','fuel_hybrid','fuel_other','transmission_automatic', 	'transmission_manual', 	'transmission_other'  ,	'drive_4wd' ,	'drive_fwd' ,	'drive_rwd'  ,	'type_SUV' ,	'type_bus', 	'type_convertible' ,	'type_coupe' ,	'type_hatchback' ,	'type_mini-van', 	'type_offroad' ,	'type_other' ,	'type_pickup' ,	'type_sedan' ,	'type_truck' 	,'type_van' ,	'type_wagon']
#for col in col_cat:
#  df[col] = df[col].astype('category',copy=False)
col_cat=['manufacturer','model']
le = LabelEncoder()
for col in col_cat:
    df[col] = le.fit_transform(df[col])

In [37]:
#convert columns to categorical
col_cat=['manufacturer','model','fuel_diesel','fuel_electric','fuel_gas','fuel_hybrid','fuel_other','transmission_automatic', 	'transmission_manual', 	'transmission_other'  ,	'drive_4wd' ,	'drive_fwd' ,	'drive_rwd'  ,	'type_SUV' ,	'type_bus', 	'type_convertible' ,	'type_coupe' ,	'type_hatchback' ,	'type_mini-van', 	'type_offroad' ,	'type_other' ,	'type_pickup' ,	'type_sedan' ,	'type_truck' 	,'type_van' ,	'type_wagon']
for col in col_cat:
  df[col] = df[col].astype('category',copy=False)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81424 entries, 0 to 81423
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   price                   81424 non-null  int64
 1   manufacturer            81424 non-null  category
 2   model                   81424 non-null  category
 3   condition               81424 non-null  float64
 4   cylinders               81424 non-null  float64
 5   odometer                81424 non-null  float64
 6   title_status            81424 non-null  float64
 7   age                     81424 non-null  float64
 8   region_enc              81424 non-null  float64
 9   fuel_diesel             81424 non-null  category
 10  fuel_electric           81424 non-null  category
 11  fuel_gas                81424 non-null  category
 12  fuel_hybrid             81424 non-null  category
 13  fuel_other              81424 non-null  category
 14  transmission_automatic  81424 non-null  category
 15  transmission_manual     81424 non-null  category
 16  transmission_other      81424 non-null  category
 17  drive_4wd               81424 non-null  category
 18  drive_fwd               81424 non-null  category
 19  drive_rwd               81424 non-null  category
 20  type_SUV                81424 non-null  category
 21  type_bus                81424 non-null  category
 22  type_convertible        81424 non-null  category
 23  type_coupe              81424 non-null  category
 24  type_hatchback          81424 non-null  category
 25  type_mini-van           81424 non-null  category
 26  type_offroad            81424 non-null  category
 27  type_other              81424 non-null  category
 28  type_pickup             81424 non-null  category
 29  type_sedan              81424 non-null  category
 30  type_truck              81424 non-null  category
 31  type_van                81424 non-null  category
 32  type_wagon              81424 non-null  category
dtypes: category(26), float64(6), int64(1)
memory usage: 6.8 MB

In [39]:
df["odometer"] = np.sqrt(preprocessing.minmax_scale(df["odometer"]))

In [40]:
X=df.loc[:, ~df.columns.isin(['price'])]
y=df["price"]

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,y, 
                                                    test_size=0.1, 
                                                    random_state=1)

In [42]:
rf = RandomForestRegressor(n_estimators = 100,random_state=1).fit(X_train, y_train.values.ravel())
rf_pred = rf.predict(X_test)

In [43]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, rf_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, rf_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, rf_pred)))
print('R2: ',r2_score(y_test, rf_pred))

Mean Absolute Error: 989.2179835441483
Mean Squared Error: 4327773.8629678255
Root Mean Squared Error: 2080.330229306834
R2:  0.9560506155501268

In [ ]:
fscores = []

for score in rf.feature_importances_:
    fscores.append( score * 1000000 )

In [ ]:
index_columns = X.columns

coef = pd.Series( fscores, index = index_columns )

imp_coef = coef.sort_values()

In [ ]:
matplotlib.rcParams['figure.figsize'] = (20, 10)

ax = imp_coef.plot( kind = "barh" )
ax.set_ylabel('',fontdict={'fontsize':4})
plt.title( "Feature importance using Catboost Regression Model" )
#plt.savefig('/home/ubuntu/01-Nuera/charts/XGBoost_Tuned_Features_Importance.jpg')
plt.show()